@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:900i');
@import url('https://fonts.googleapis.com/css?family=Anton');

:root {
  --dark-green: #0e4f1f;
  --highlight-color: #ff1b68;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto fit-content(8rem);
  grid-template-areas: "main-header"
                       "main"
                       "main-footer";
  min-height: 100vh;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
  width: 100vw;
  z-index: 100;
}

main {
  /* display: flex; */
  /* flex-direction: column; */
  grid-area: main;
  /* margin-top: 3.5rem; */
}

.main-header {
  background: #2ddf5c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  grid-area: main-header;
}

.main-header__brand {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
}

.main-header__brand img {
  height: 2.5rem;
}

.toggle-button {
  width: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  background: black;
  display: block;
  height: 0.2rem;
  width: 100%;
  margin: 0.5rem 0;
}

.main-nav {
  display: flex;
  text-align: right;
}

.main-nav__items {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  margin: 0 1.5rem;
}

.main-nav__item a,
.mobile-nav__item a {
  color: var(--dark-green);
  font-weight: bold;
  text-decoration: none;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.movile-nav__item a:active {
  border-bottom: 5px solid white;
  color: white;
  padding-bottom: 0.5rem;
}

.main-nav__item--cta {
  animation: wiggle 200ms 2s 8 ease-out;
  /* animation-fill-mode: forwards; */
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  background: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav_item--cta a:active {
  background: white;
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
}

.main-footer {
  background: black;
  color: white;
  padding: 1rem;
  grid-area: main-footer;
}

.main-footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__link {
  font-weight: bold;
  margin: 1rem 0;
}

.main-footer__link a {
  color: inherit;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #999;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  transform: translate(-100%);
  transition: transform 0.3s ease-out;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav.open {
  animation: open-menu 300ms ease-in-out;
}

.mobile-nav.close {
  animation: close-menu 300ms ease-in-out;
  animation-fill-mode: forwards;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.button {
  background: var(--dark-green);
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  outline: none;
  padding: 0.7rem;
  transition: all 500ms ease-in-out;
}

.button:hover,
.button:active {
  background: white;
  color: var(--dark-green);
}

.button[disabled] {
  background: #ccc;
  border-color: #a1a1a1;
  color: #a1a1a1;
  cursor: not-allowed;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0rem) !important;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav__items {
    display: flex;
  }

  .main-footer__link {
    margin: 1rem;
  }

  .main-footer__links {
    flex-direction: row;
  }
}

@keyframes wiggle {
  0% { transform: rotateZ(0deg); }
  50% { transform: rotateZ(-10deg); }
  100% { transform: rotateZ(10deg); }
}