main {
  padding-top: 2.5rem;
}

.testimonial {
  font-size: 20px;
}

.testimonial__info {
  padding: 0.9rem;
  text-align: right;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  margin: 0.2rem;
  color: #ff5454;
  font-size: 2em;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 18px;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  font-size: 1.25rem;
  margin: 0.2rem;
}

.testimonial__image {
  width: 100%;
  vertical-align: top; /* just a hack to remove white space below image */
}

.testimonial__image-container {
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
  max-width: 40rem;
  width: 100%;
}

@media (min-width: 40rem) {
  .testimonial {
    display: flex;
    margin: 3.5rem auto;
    max-width: 1500px;
    align-items: center;
    justify-content: space-around;
  }

  .testimonial__info {
    /* display: flex; */
    /* flex-direction: column; */
    width: 30%;
  }

  .testimonial__image-container {
    display: inline-block;
    width: 66%;
  }
}