.background {
  background: url("../img/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  height: 100%;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.packages {
  margin-top: 2rem;
  padding: 1rem 0;
}

.package {
  border: 3px solid #0e4f1f;
  margin: 2rem 0;
  padding: 2rem;
}

.package a {
  display: block;
  text-decoration: none;
}

.package__badge {
  background: #ff5454;
  color: white;
  font-size: 0.75rem;
  margin: 1.25rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}

.package__title {
  color: black;
}

.package__subtitle {
  color: grey;
}

.package__info {
  color: black;
  background: white;
  border: 1px solid #0e4f1f;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  font-style: italic;
  padding: 1rem;
}

.package--plus {
  background: rgba(213, 255, 220, 0.95);
}

.package--free {
  background: rgba(234, 252, 237, 0.95);
}

.package--premium {
  background: rgba(14, 79, 31, 0.95);
}

.package--premium .package__title {
  color: white;
}

.package--premium .package__subtitle {
  color: #ccc;
}

@media (min-width: 40rem) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .package {
    border-left: none;
    position: relative;
    width: 80%;
    transition: all 500ms ease-in-out;
  }

  .package:active,
  .package:hover {
    border-color: red;
    box-shadow: 3px 3px 10px 2px rgb(0, 0, 0, 0.5);
  }

  .package--free {
    border-left: 3px solid #0e4f1f;
    border-right: none;
    margin-left: 20%;
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .package {
    border: 3px solid #0e4f1f;
  }
}